<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quotes app</title>
</head>
<body>
    <div>hmm, ok ok</div>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
      </form>
      
      <p>futuramente</p>
      <input type="text" placeholder="editora" name="editora">
      <input type="text" placeholder="especialidade" name="especialidade">
      <input type="text" placeholder="numero da apostila" name="aposti_num">

      <div>
        <h2>Darth Vadar invades!</h2>
        <p>
          Replace first Yoda's quote with a quote written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's quote</button>
      </div>
      <div>
        <input class='name' type="text">
        <button id="delete">Apagar entrada</button>
      </div>
      
      <% quotes.map(trecho =>{%>
        <li class="quote">
          <!-- Output name from the iterated quote object -->
          <span><%= trecho.name %> : </span>
          <!-- Output quote from the iterated quote object -->
          <span><%= trecho.quote %></span>
        </li>
      <% }) %>

<script type="text/javascript" src="/main.js"></script>
</body>
</html>